<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>

    <script src="../static/script.js" defer></script>

    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    
    <div id="header">
        <h3 style="display: inline-block;">IOT DASHBOARD</h3>
        <img id="profile_img" style="float: right;" src="https://wallpapers.com/images/high/placeholder-profile-silhouette-xdnyaoc18kf2jfyp.png" width="45" height="45">
    </div>
    
    <div class="content">
        <div id="LEDContent">
            <div class="middle" style="margin: auto; width: 45%;">

                <p>Switch Status: <span id="switch-status">OFF</span></p>
            <img id="switch-image" src="../static/offswitch.png">
            <div class="" id="LED_Display"> 
                <div id="">
                    <h2>LED Status:</h2>
                    <div id="led" class="off"></div>
                </div>
            </div>
            </div>
            
        </div>
    </div>
    

</body>
</html>
