<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>

    <script src="../static/script.js" defer></script>

    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    
    <div id="header">
        <h3 style="display: inline-block;">IOT DASHBOARD</h3>
        <img id="profile_img" style="float: right;" src="https://ichef.bbci.co.uk/ace/standard/1056/cpsprodpb/13FCD/production/_130896818_donaldtrumpfullmugshot.jpg" width="45" height="45">
    </div>
    
    <div class="content">

        <div id="LEDContent">

            <p>Switch Status: <span id="switch-status">OFF</span></p>

            <div class="inline_content" id="LED_Display">
                <div id="led_button">
                <button id="toggle-button">Toggle Switch</button>
                </div>
                <div id="led_result">
                    <h2>LED Status:</h2>
                    <div id="led" class="off"></div>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>
