body {
    font-family: sans-serif;
    background-image: linear-gradient(rgb(100, 100, 100), rgb(0, 0, 0));
    background-repeat: no-repeat;
    margin: 0px;
  }

.content {
    height: 850px;
  }

.inline_content {
    display: inline-flex;
}

#LEDContent{
    position: relative;
    top: 15%;
    border: 2px solid rgb(235, 235, 235);
    box-shadow: 0 0 15px #4e4e4e;
    padding: 20px;
    width: 20%;
    height: 400px;
    margin: auto;
    color: aliceblue;
    background-image: linear-gradient(rgb(43, 43, 43), rgb(0, 0, 0));
    background-repeat: no-repeat;
}

#LED_Display > div {
    margin-left: 20px;
}

#led {
    width: 150px;
    height: 150px;
    background-image: url("LED_Low.png");
    background-size: contain;
}

#toggle-button {
    height: 150px;
    width: 150px;
    margin-top: 50%;
}
#led.on {
    background-image: url("LED_High.png");
}
#led.off {
    background-image: url("LED_Low.png");
}

#header {
    position: relative;
    margin-top: 25px;
    width: 94%; 
    color: rgb(255, 255, 255); 
    background-color: rgb(27, 27, 27); 
    padding: 15px 35px; 
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}