<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="../static/script.js" defer></script>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <div id="header">
    <h3 class="header-title">IOT DASHBOARD</h3>
    <img id="profile_img" class="profile-img" src="https://ichef.bbci.co.uk/ace/standard/1056/cpsprodpb/13FCD/production/_130896818_donaldtrumpfullmugshot.jpg" width="45" height="45">
  </div>

  <div class="content">
    <div class="IOT-Dashboard">
      
      <div class="dashboard-component" id="graph-dashboard">
        <canvas id="myChart"></canvas>
      </div>

      <div class="dashboard-component" id="temphum-dashboard">
        <div class="temphum-dashboard-component TH" id="temperature-db">
          <h4>Temperature</h4>
          <div class="BarContainer" id="TemperatureMeter"></div>
        </div>
        <div class="temphum-dashboard-component TH" id="humidity-db">
          <h4>Humidity</h4>
          <div class="BarContainer" id="HumidityMeter"></div>
        </div>
      </div>
      
      <div class="dashboard-component" id="light-dashboard">
        <h4>Light Intensity</h4>
        
        <div class="light-visualization">
          <div class="light-bulb-container">
            <img id="light-bulb-img" src="../static/LightOff.png" alt="Light Bulb" class="light-bulb">
          </div>
          <div class="light-data">
            <p>Current Light Intensity: <span id="light-intensity">--</span></p>
            <p>LED Status: <span id="led-status" class="off">OFF</span></p>
            <p>Threshold: <span id="threshold-value">400</span></p>
          </div>
        </div>
        
        <div class="light-meter-container">
          <div class="light-meter">
            <div class="meter-fill" id="light-meter-fill"></div>
          </div>
          <div class="meter-labels">
            <span>Dark (0)</span>
            <span>Bright (2000)</span>
          </div>
        </div>

        <div id="mail_notif">
          <img id="img_notif" src="../static/MailIdle.png">
          <span id="notif">Email has not been sent</span>
        </div>
      </div>

      <div class="dashboard-component" id="fan-db">
        <h4>Fan</h4>
        <div id="fanContainer">
          <img id="fanIcon" src="../static/FanOff.png" height="250" width="250">
        </div>
      </div>

      <div class="dashboard-component" id="profile-db">
        <h4>Email Notification</h4>
        <p>Status: <span id="email-status">No email sent</span></p>
      </div>
    </div>
  </div>
</body>
</html>
